Package: ch.marcoroth.shortlook.plugin.profile-picture.github
Name: GitHub Profile Pictures for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0.0
Architecture: iphoneos-arm
Description: Show GitHub Profile Pictures in ShortLook when you receive a GitHub notification!
Maintainer: Marco Roth
Author: Marco Roth
Section: Tweaks (ShortLook)
